* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(26, 19, 20);
    z-index: 999;
}

.navbar .max-width {
    display: flex;
    flex: 1;
    text-align: right;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .logo a span {
    color: crimson;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar .menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    display: inline-block;
    transition: color 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .menu li a:hover {
    color: crimson;
}

/* home section styling */
.home {
    display: flex;
    background: url("images/banner.JPEG") no-repeat center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 500px;
}

.home .max-width {
    margin: 300px 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home .home-content .text-2 {
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home .home-content .text-3 {
    font-size: 35px;
    margin: 5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

/* about section styling */
.about-section {
    background-color: rgb(26, 19, 20);
    min-height: 100vh;
}

.about {
    padding: 60px 0;
    font-family: 'Times New Roman', Times, serif;
}

.about .title {
    position: relative;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.about .title::after {
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: rgb(26, 19, 20);
    transform: translateX(-50%);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.about .about-content .right {
    width: 55%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}


/* skill section styling */
.skills-section {
    background-color: rgb(26, 19, 20);
    min-height: 120vh;
}

.skills {
    padding: 60px 0;
    font-family: 'Times New Roman', Times, serif;
}

.skills .title {
    position: relative;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skills .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.skills .title::after {
    content: "what i knows";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: rgb(26, 19, 20);
    transform: translateX(-50%);
}

.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.skills .skills-content .left {
    width: calc(50% - 30px);
    color: white;
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .right {
    width: 40%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 17px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: white;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills .skills-content .right .html::before {
    width: 90%;
}

.skills .skills-content .right .css::before {
    width: 50%;
}

.skills .skills-content .right .js::before {
    width: 1%;
}

.skills .skills-content .right .c::before {
    width: 80%;
}

.skills .skills-content .right .python::before {
    width: 1%;
}

/* contact section styling */

.contact-section {
    background-color: rgb(26, 19, 20);
    min-height: 100vh;
}

.contact {
    padding: 100px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.contact .title {
    position: relative;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.contact .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.contact .title::after {
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: rgb(26, 19, 20);
    transform: translateX(-50%);
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row .info a {
    color: white;
}

.contact .contact-content .row p {
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: crimson;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'poppins' sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    color: crimson;
    background: transparent;
    border: 2px solid crimson;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.5s ease;
}

.contact .right form .button button:hover {
    color: white;
    background-color: crimson;
}

/* footer styling */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: white;
    background: rgb(26, 19, 20);
}

.footer p {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: blue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}